<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>熟成紅茶</string>
		<key>description</key>
		<string>解炸物/燒烤肉類油膩，茶味濃郁帶果香</string>
		<key>menu</key>
		<string>解炸物或烤肉類油膩。果香。 Remove greasy of deep-fried food or grilled meat. Fruit scent.｜ 【中杯】總糖量45克，總熱量180大卡【大杯】總糖量50克，總熱量200大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>30</integer>
			<key>large</key>
			<integer>35</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麗春紅茶</string>
		<key>description</key>
		<string>去除海鮮腥羶，茶味較淡帶花香</string>
		<key>menu</key>
		<string>去除海鮮羶腥。花香。 Remove fishy of seafood. Flower scent.｜ 【中杯】總糖量45克，總熱量180大卡【大杯】總糖量50克，總熱量200大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>30</integer>
			<key>large</key>
			<integer>35</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>太妃紅茶</string>
		<key>description</key>
		<string>咖啡與茶的神秘比例搭配</string>
		<key>menu</key>
		<string>咖啡及茶。 Coffee and tea.｜【中杯】總糖量40克，總熱量161大卡【大杯】總糖量45克，總熱量182大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜紅茶產地：斯里蘭卡:咖啡產地：日本。</string>
		<key>ingredient</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>35</integer>
			<key>large</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>胭脂紅茶</string>
		<key>description</key>
		<string>絲絨版的蜜桃果香</string>
		<key>menu</key>
		<string>【中杯】總糖量45克，總熱量180大卡【大杯】總糖量50克，總熱量200大卡。｜ 咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜ 糖量、熱量及咖啡因含量皆以最高值標示。｜紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>40</integer>
			<key>large</key>
			<integer>45</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>雪藏紅茶</string>
		<key>description</key>
		<string>冰淇淋與紅茶的綿綿情意</string>
		<key>menu</key>
		<string>冷飲。紅茶及香草冰淇淋。｜ 【中杯】總糖量49克，總熱量287大卡【大杯】總糖量59克，總熱量377大卡。｜ 咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜ 糖量、熱量及咖啡因含量皆以最高值標示。｜ 紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>50</integer>
			<key>large</key>
			<integer>60</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>春芽綠茶</string>
		<key>description</key>
		<string>綠茶，系系中帶點綠綠</string>
		<key>menu</key>
		<string>【中杯】總糖量40克，總熱量160大卡【大杯】糖量45克，總熱量180大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜綠茶產地：台灣。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>30</integer>
			<key>large</key>
			<integer>35</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>春梅冰茶</string>
		<key>description</key>
		<string>春梅與冬瓜相遇</string>
		<key>menu</key>
		<string>春梅及冬瓜。 Plum and white gourd drinks.｜ 減糖方式為添加50c.c.的綠茶。｜【中杯】總糖量43克，總熱量257大卡【大杯】總糖量59克，總熱量356大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜綠茶產地：台灣。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>40</integer>
			<key>large</key>
			<integer>50</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>雪花冷露</string>
		<key>description</key>
		<string>手工冬瓜獨奏</string>
		<key>menu</key>
		<string>手工冬瓜。 Handmade white gourd drinks.｜減糖方式為添加50c.c.的綠茶。｜【中杯】總糖量26克，總熱量176大卡【大杯】總糖量37克，總熱量247大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜綠茶產地：台灣。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>30</integer>
			<key>large</key>
			<integer>35</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>熟成冷露</string>
		<key>description</key>
		<string>手工冬瓜與茶更神秘比例搭配</string>
		<key>menu</key>
		<string>手工冬瓜及茶。飲品本身含有冬瓜甜度。｜中杯: 總糖量 35 克, 總熱量 155 大卡。大杯: 總糖量 45 克, 總熱量 211 大卡。｜咖啡因總含量低於 100 毫克, 每日攝取限量 300 毫克, 孩童及孕哺婦斟酌食用。糖量, 熱量及咖啡因含量皆以最高值標示。｜紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>30</integer>
			<key>large</key>
			<integer>35</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>春芽冷露</string>
		<key>description</key>
		<string>手工冬瓜綠茶</string>
		<key>menu</key>
		<string>手工冬瓜及綠茶。飲品本身含有冬瓜甜度。｜中杯: 總糖量 30 克, 總熱量 135 大卡。大杯: 總糖量 45 克, 總熱量 211 大卡。｜咖啡因總含量低於 100 毫克, 每日攝取限量 300 毫克, 孩童及孕哺婦斟酌食用。糖量, 熱量及咖啡因含量皆以最高值標示。｜綠茶產地：台灣。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>30</integer>
			<key>large</key>
			<integer>35</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>冷露歐雷</string>
		<key>description</key>
		<string>手工冬瓜與鮮奶</string>
		<key>menu</key>
		<string>手工冬瓜及鮮奶。 Handmade white gourd drinks and fresh milk. 減糖方式為添加50c.c.的綠茶。｜【中杯】總糖量26克，總熱量221大卡【大杯】總糖量36克，總熱量307大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜綠茶產地：台灣。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>45</integer>
			<key>large</key>
			<integer>55</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>熟成歐雷</string>
		<key>description</key>
		<string>熟成鮮奶茶</string>
		<key>menu</key>
		<string>鮮奶茶。 Fresh milk tea.｜ 如欲購買珍珠鮮奶茶，請訂購白玉歐蕾。｜ 【中杯】總糖量47克，總熱量258大卡【大杯】總糖量55克，總熱量311大卡。｜ 咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜ 糖量、熱量及咖啡因含量皆以最高值標示。｜ 紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>45</integer>
			<key>large</key>
			<integer>55</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>白玉歐雷</string>
		<key>description</key>
		<string>珍奶不解釋</string>
		<key>menu</key>
		<string>白玉珍珠奶茶。 Milk tea with white tapioca.｜ 【中杯】總糖量38克，總熱量395大卡【大杯】總糖量45克，總熱量443大卡。｜ 咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜ 糖量、熱量及咖啡因含量皆以最高值標示。｜ 紅茶產地：斯里蘭卡。</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>55</integer>
			<key>large</key>
			<integer>65</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>熟成檸果</string>
		<key>description</key>
		<string>每日限量的鮮檸紅茶，整顆檸檬搭配7分糖最佳</string>
		<key>menu</key>
		<string>中杯。冷飲。｜每日限量｜搭配少糖最佳｜ Medium. Daily limited. Suggest sweetness level with 70% sugar. Cold drinks.｜【中杯】總糖量38克，總熱量168大卡。｜咖啡因總含量低於100mg，每日攝取限量300mg，孩童及孕哺婦斟酌食用。｜糖量、熱量及咖啡因含量皆以最高值標示。｜紅茶產地：斯里蘭卡</string>
		<key>price</key>
		<dict>
			<key>medium</key>
			<integer>55</integer>
		</dict>
	</dict>
</array>
</plist>
